body {
	background-image: url("../img/sombrero2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Vollkorn', serif;
}
#logoMenuOnirian{
	max-width:140px;
	margin-top: -16px;
}
.dropdown-menu{
	background-color:#333;
}
.dropdown-menu>li>a{
	color:#9d9d9d;
	font-size:140%;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #333;
}
#cuerpo{
	background-color:rgba(51,51,51,0.8);
	color:#D8D8D8;
	font-size:150%;
	border: 1px solid rgb(119, 119, 119);
	padding:5%;
}
h1{
	color:#FFFFFF;
	font-size:130%;
	text-align:center;
}
#tablaConciertos{
	font-size:70%;
}
	/* unvisited link */
#cuerpo a:link{
	color:#D8D8D8;
	text-decoration: none;
}
	/* visited link */
#cuerpo a:visited {
	color:#D8D8D8;
	text-decoration: none;
}
	/* mouse over link */
#cuerpo a:hover {
	color:#fff;
	text-decoration: none;
}
	/* selected link */
#cuerpo a:active {
	color:#9D9D9D;
	text-decoration: none;
}
@media only screen and (max-width: 768px) {
	#cuerpo{
		padding-top: 10%;
	}
	#navBarLogo2{
		display:none;
	}
}
@media (min-width: 769px) {
	#navBarLogo1{
		display:none;
	}
	.navbar-nav {
		width: 100%;
		text-align: center;
	}
	.navbar-nav > li {
		font-size:140%;
		float: none;
		display: inline-block;
	}
	.navbar-nav > li.navbar-right {
		float: right !important;
	}
}