<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="shortcut icon" type="image/x-icon" href="../favicons/iconLogo.ico">
	<title>Onirian Official Website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/estiloFotos.css">
	<link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>


<body>
<!--menu-->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a id="navBarLogo1" class="navbar-brand" href="../index.html" rel="home">
				<img src="../img/logo.png" alt="logoOnirian" id="logoMenuOnirian">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="navbar-left">
					<a id="navBarLogo2" class="navbar-brand" href="../index.html" rel="home">
						<img src="../img/logo.png" alt="logoOnirian" id="logoMenuOnirian">
					</a>
				</li>
				<li><a href="PaginaNoticias.html">Noticias</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Banda<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="PaginaBiografia.html">Biografía</a></li>
						<li class="active"><a href="PaginaFotos.html">Fotos</a></li>
					</ul>
				</li>
				<li><a href="PaginaConciertos.html">Conciertos</a></li>
				<li><a href="PaginaMusica.html">Música</a></li>
				<li class="navbar-right"><a href="https://www.facebook.com/Onirianzgz" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a></li>
			<li class="navbar-right"><a href="https://twitter.com/Onirian" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a></li>
			<li class="navbar-right"><a href="https://www.youtube.com/user/OnirianOfficial" target="_blank"><i class="fa fa-youtube-square fa-lg"></i></a></li>	
			</ul>  
		</div>
	</div>
</nav>


<div class="container" id="cuerpo"><!--cuerpo-->
	<h1>Galería fotográfica</h1>
	<div class="row">
	<!--fila 1-->
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal1"><img class="img-responsive img-thumbnail" src="../img/foto1.jpg" alt="foto1"></button>
		</div>
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal2"><img class="img-responsive img-thumbnail" src="../img/foto10.jpg" alt="foto2"></button>
		</div>
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal3"><img class="img-responsive img-thumbnail" src="../img/foto2.jpg" alt="foto3"></button>
		</div>
		<!--fila 2-->
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal4"><img class="img-responsive img-thumbnail" src="../img/foto3.jpg" alt="foto4"></button>
		</div>
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal5"><img class="img-responsive img-thumbnail" src="../img/foto4.jpg" alt="foto5"></button>
		</div>
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal6"><img class="img-responsive img-thumbnail" src="../img/foto5.jpg" alt="foto6"></button>
		</div>
		<!--fila 3-->
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal11"><img class="img-responsive img-thumbnail" src="../img/sombrero1.jpg" alt="foto11"></button>
		</div>
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal7"><img class="img-responsive img-thumbnail" src="../img/foto6.jpg" alt="foto7"></button>
		</div>
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal8"><img class="img-responsive img-thumbnail" src="../img/foto7.jpg" alt="foto8"></button>
		</div>
		<!--fila 4-->
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal9"><img class="img-responsive img-thumbnail" src="../img/foto8.jpg" alt="foto9"></button>
		</div>
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal10"><img class="img-responsive img-thumbnail" src="../img/foto9.jpg" alt="foto10"></button>
		</div>
		<div class="col-md-4 col-sm-6 fotoOnirian">
			<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal12"><img class="img-responsive img-thumbnail" src="../img/sombrero2.jpg" alt="foto12"></button>
		</div>
	</div>
	<!-- Modal foto1-->
	<div class="modal fade" id="myModal1" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/foto1.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
	<!-- Modal foto2-->
	<div class="modal fade" id="myModal2" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/foto10.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
	<!-- Modal foto3-->
	<div class="modal fade" id="myModal3" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/foto2.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
	<!-- Modal foto4-->
	<div class="modal fade" id="myModal4" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/foto3.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
	<!-- Modal foto5-->
	<div class="modal fade" id="myModal5" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/foto4.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
	<!-- Modal foto6-->
	<div class="modal fade" id="myModal6" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/foto5.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
	<!-- Modal foto7-->
	<div class="modal fade" id="myModal7" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/foto6.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
	<!-- Modal foto8-->
	<div class="modal fade" id="myModal8" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/foto7.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
	<!-- Modal foto9-->
	<div class="modal fade" id="myModal9" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/foto8.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
	<!-- Modal foto10-->
	<div class="modal fade" id="myModal10" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/foto9.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
	<!-- Modal foto11-->
	<div class="modal fade" id="myModal11" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/sombrero1.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
	<!-- Modal foto12-->
	<div class="modal fade" id="myModal12" role="dialog">
		<div class="modal-dialog modal-lg">
    
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<img class="img-responsive" src="../img/sombrero2.jpg" alt="foto1">
				</div>
				<div class="modal-footer">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
      
		</div>
	</div>
</div>



</body>
</html>
