<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="shortcut icon" type="image/x-icon" href="../favicons/iconLogo.ico">
	<title>Onirian Official Website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/estiloMusica.css">
	<link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>


<body>
<!--menu-->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a id="navBarLogo1" class="navbar-brand" href="../index.html" rel="home">
				<img src="../img/logo.png" alt="logoOnirian" id="logoMenuOnirian">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="navbar-left">
					<a id="navBarLogo2" class="navbar-brand" href="../index.html" rel="home">
						<img src="../img/logo.png" alt="logoOnirian" id="logoMenuOnirian">
					</a>
				</li>
				<li><a href="PaginaNoticias.html">Noticias</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Banda<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="PaginaBiografia.html">Biografía</a></li>
						<li><a href="PaginaFotos.html">Fotos</a></li>
					</ul>
				</li>
				<li><a href="PaginaConciertos.html">Conciertos</a></li>
				<li class="active"><a href="PaginaMusica.html">Música</a></li>
				<li class="navbar-right"><a href="https://www.facebook.com/Onirianzgz" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a></li>
			<li class="navbar-right"><a href="https://twitter.com/Onirian" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a></li>
			<li class="navbar-right"><a href="https://www.youtube.com/user/OnirianOfficial" target="_blank"><i class="fa fa-youtube-square fa-lg"></i></a></li>	
			</ul>  
		</div>
	</div>
</nav>

<div class="container" id="cuerpo"><!--cuerpo-->
	<h1>Discografía</h1><br>
	<div class="row">
		<div class="col-md-4" id="imgDisco">
			<img class="img-responsive" src="../img/OnirianRaices.jpg" alt="Raíces">
		</div>
		<div class="col-md-8" id="songsDisco">
			<h2>Raíces (2016)</h2>
			<ol>
				<li>Siervos de la inmensidad</li>
				<li>Venciendo al dolor</li>
				<li>Te esperaré</li>
				<li>Tu apocalipsis</li>
			</ol>
		</div>
	</div>
</div>



</body>
</html>
