<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="shortcut icon" type="image/x-icon" href="../favicons/iconLogo.ico">
	<title>Onirian Official Website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/estiloNoticias.css">
	<link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>


<body>
<!--menu-->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a id="navBarLogo1" class="navbar-brand" href="../index.html" rel="home">
				<img src="../img/logo.png" alt="logoOnirian" id="logoMenuOnirian">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="navbar-left">
					<a id="navBarLogo2" class="navbar-brand" href="../index.html" rel="home">
						<img src="../img/logo.png" alt="logoOnirian" id="logoMenuOnirian">
					</a>
				</li>
				<li class="active"><a href="PaginaNoticias.html">Noticias</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Banda<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="PaginaBiografia.html">Biografía</a></li>
						<li><a href="PaginaFotos.html">Fotos</a></li>
					</ul>
				</li>
				<li><a href="PaginaConciertos.html">Conciertos</a></li>
				<li><a href="PaginaMusica.html">Música</a></li>
				<li class="navbar-right"><a href="https://www.facebook.com/Onirianzgz" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a></li>
			<li class="navbar-right"><a href="https://twitter.com/Onirian" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a></li>
			<li class="navbar-right"><a href="https://www.youtube.com/user/OnirianOfficial" target="_blank"><i class="fa fa-youtube-square fa-lg"></i></a></li>	
			</ul>  
		</div>
	</div>
</nav>

<div class="container" id="cuerpo"><!--cuerpo-->
	<div id="myCarousel" class="carousel slide" data-ride="carousel"><!--carousel-->
	<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="../img/foto6.jpg" alt="OnirianFoto1" style="max-width: 100% height: auto">
			</div>

			<div class="item">
				<img src="../img/foto10.jpg" alt="OnirianFoto2" style="max-width: 100% height: auto">
			</div>
    
			<div class="item">
				<img src="../img/foto1.jpg" alt="OnirianFoto3" style="max-width: 100% height: auto">
			</div>

			<div class="item">
				<img src="../img/foto7.jpg" alt="OnirianFoto4" style="max-width: 100% height: auto">
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	
	
	<div class="row" id="cuerpoInit">
		<div class="col-md-8" id="noticias"><!-- AQUÍ VAN LAS NOTICIAS -->
		
			<!-- CUARTA NOTICIA -->
			<h1>¡"Onirian - Raíces" ya está aquí!</h1>
			<p id="fecha">Publicado el 07-04-2016</p>
			<p>
			Ha sido un trabajo tan exhaustivo como emocionante, y por fin podemos decirlo: ¡la primera maqueta de Onirian está al alcance de todos!
			</p><p>
			Onirian somos Raúl, Víctor, Rubén, Daniel P., Daniel C. y Jesús, y queremos agradecer especialmente a Ismael Pastor su trabajo en la grabación, edición y masterización de este trabajo.
			</p><p>
			Por supuesto, todos vosotros sois los cabos que izan las velas que nos han llevado hasta aquí. Por eso, hemos decidido que este primer material sea completamente gratis para todos, ¡todos nos lo hemos ganado!
			</p><p>
			Podéis escuchar "Onirian - Raíces (2016)" en: 
			<a href="https://soundcloud.com/onirian/sets/onirian-ra-ces-2016" target="_blank">Soundcloud</a>
			</p><p>
			¿Quieres tenerla en todos tus dispositivos? Descárgala en el siguiente enlace: 
			<a href="https://mega.nz/#!GI9kSKAY!JXACZAbJ_b_tb-XM_GdG9I2dPCLv4FtFaodk1qiI_QU" target="_blank">Mega</a>
			</p><p>
			Por último, hemos creado la siguiente lista de reproducción en Youtube en nuestro canal oficial: 
			<a href="https://www.youtube.com/watch?v=DlLaqzgctJg&list=PLX_VWU7rCe3MtXUpRha94OeUWZLth0G2I" target="_blank">Youtube</a><br>
			¡Esperamos que os guste! ¡Corred la voz!
			</p><p id="fecha">
			**** Todo el material de "Onirian - Raíces (2016)" pertenece a Onirian. Todos los derechos reservados ****
			</p>

			<!-- TERCERA NOTICIA -->
			<div class="row">
				<a name="concierto2"><h1>¿Onirian y Venalitia en concierto? ¡No te lo pierdas!</h1></a>
				<p id="fecha">Publicado el 04-02-2016</p>
				
				<div class="col-md-8 biografia">
					<p>¡SEÑORAS Y CABALLOS! ¡ADULTOS DE TODAS LAS EDADES!
					</p><p>
					No pueden perderse el próximo concierto de Onirian y Venalitia, dando caña en la Sala Dpch de Zaragoza (Plaza San Lamberto).
					</p><p>
					Día 27 de febrero, a las 22:30. TOTALMENTE GRATIS.
					</p><p>
					Se avecinan por el centro altas dosis de metal con posibilidad de tormenta eléctrica y pequeños chubascos, ¡¡según lo motivadxs que vengáis!!
					</p><p>
					¡A darlo todo y pasarlo de fruta madre, carajo!
					</p>
				</div>

				<div class="col-md-4">
					<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal2"><img class="img-responsive img-thumbnail" src="../img/concierto2.jpg" alt="cartelConcierto"></button>
				</div>

				<div class="modal fade" id="myModal2" role="dialog">
					<div class="modal-dialog modal-lg">
    
					<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-body">
								<img class="img-responsive" src="../img/concierto2.jpg" alt="cartelConcierto">
							</div>
							<div class="modal-footer">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
						</div>
      
					</div>
				</div>
			</div>

			<!-- SEGUNDA NOTICIA -->
			<div class="row">
				<a name="concierto1"><h1>¡Onirian vuelve junto a Cereal Killer!</h1></a>
				<p id="fecha">Publicado el 30-09-2015</p>
				<div class="col-md-4">
					<button type="button" class="botonOnirianFoto" data-toggle="modal" data-target="#myModal1"><img class="img-responsive img-thumbnail" src="../img/concierto1.jpg" alt="cartelConcierto"></button>
				</div>
				
				<div class="col-md-8 biografia">
					<p>La espera ha concluido…
					</p><p>
					Las fuerzas del destino convergen una vez más para regresar más fieros que nunca. Veteranos y nuevos aliados estamos ansiosos por veros saltar y agitar los puños.
					</p><p>
					¿Y qué mejor sitio para estrenar este ciclo que la legendaria Sala Zeta de Zaragoza? ¡En la mejor compañía! Cañeros y elegantes…¡ Cereal Killer Zaragoza !
					</p><p>
					Ven a vernos el próximo sábado 24 de octubre a partir de las 20:45. Entrada 3€, abrazos gratis.
					</p><p>
					Te esperamos.
					</p>
				</div>
				<div class="modal fade" id="myModal1" role="dialog">
					<div class="modal-dialog modal-lg">
    
					<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-body">
								<img class="img-responsive" src="../img/concierto1.jpg" alt="cartelConcierto">
							</div>
							<div class="modal-footer">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
						</div>
      
					</div>
				</div>
			</div>
			
			<!-- PRIMERA NOTICIA -->
			<h1>¡Welcome back, damiselas y otros bárbaros!</h1>
			<p id="fecha">Publicado el 10-07-2015</p>
			<p>Llevamos largo tiempo reunidos en la taberna donde los agotados viajeros humedecen el gaznate y relatan esas historias que dan fruto a las letras que tenemos listas para vosotros. Allí mismo, invitamos a compartir la barra con su "Cuatro-Cuerdas" colgado al hombro, al integrante más misterioso del gremio. De su aspecto rezuma un aire irresistible, sino menos que el potente tono de su bajo. Daniel Cruz es su nombre. Uno más en la campaña.
			</p><p>
			Sin quererlo ni beberlo —quizá bebiéndolo sí—, cuando la lluvia ametrallaba las paredes de nuestro escondite, como un guerrero celestial apareció. Cuentan que ese hombre nació del último trino de un ruiseñor, que sus agudos son capaces de romper las jarras de las que bebéis, e incluso algún que otro corazón. Sucumbid a la voz de Jesús Campillo.
			</p><p>
			Así, con la formación de Onirian completa, con un soplo de aire fresco en la resacosa mañana, nos vemos dispuestos a emprender el camino hacia nuevos horizontes. Todo este tiempo, esfuerzo y paciencia, se verán recompensados en los escenarios tras el estío.
			</p><p>
			Os dejamos en nuestro apartado de fotos con los últimos documentos gráficos extraídos por Cristina Chaparro con sus complicados artilugios fotográficos.
			</p>
		</div>
		<div class="col-md-4" id="widgetsOnirian">
			<div id="soundcloudOnirian">
				<h3>Música</h3>
				<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/213138854&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			</div>
			<div id="twitterOnirian">
				<h3>Twitter</h3>
				<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Onirian" data-widget-id="624017737220755456">Tweets por el @Onirian.</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<h3>Contacto</h3>
			<div class="socialOnirian">
				<h4>Social</h4>
				<ul>
					<li><a href="https://www.facebook.com/Onirianzgz" target="_blank"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a></li>
					<li><a href="https://twitter.com/Onirian" target="_blank"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>
					<li><a href="https://www.youtube.com/user/OnirianOfficial" target="_blank"><i class="fa fa-youtube-square fa-lg"></i> Youtube</a></li>
				</ul>
			</div>
			<div class="socialOnirian">
				<h4>Correo</h4>
				<p>onirian.mail@gmail.com</p>
			</div>
		</div>
	</div>
</div>



</body>
</html>
